@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;700&display=swap');
.cardContainer {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    text-align: left;
    padding: 10px;
}
.cardContainer:hover{
    background-color: white !important;
}
.custombtn{
    color:black !important;
    background-color: transparent !important;
    border-color: black !important;
    border-radius: 0 !important;
    position: relative;
    transform: translateX(-70%);
}
.custombtn:hover {
    background-color: black !important;
    color: white !important;
    border-color: black !important;
    border-radius: 0 !important;
}
/*
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-family: Roboto Mono,Helvetica,Arial,sans-serif;
    letter-spacing: .8px;
    box-sizing: border-box;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 14px;
    font-size: 11px;
    line-height: 1.78;
    border-radius: 0;
    user-select: none;
    color: #000;
    background-color: transparent;
    border-color: #000;
    transition: all .2s linear;
*/
