@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;700&display=swap');

.h2style {
    font-family: 'Roboto Mono', monospace;
}

.cardContainer {
    background-color: #fff;
    padding: 2rem 5rem;
    position: relative;
    width: 80%;
    margin: -10em auto 20px;
}