 @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;700&display=swap');

 .navCont {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 3px;
    margin-left: 90px;
 }
 a:hover {
    font-weight: 700 !important;
    color: #fff !important;
    background-color: transparent;
 }
 /*
        -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-family: Roboto Mono,Helvetica,Arial,sans-serif;
    letter-spacing: .8px;
    list-style: none;
    box-sizing: border-box;
    outline: 0;
    position: relative;
    display: block;
    padding: 10px 15px;
    line-height: 19px;
    padding-top: .5px;
    padding-bottom: .5px;
    font-size: 14px;
    transition: all .1s linear;
    text-decoration: none;
    border-right: 1px solid #fff;
    font-weight: 700;
    color: #fff;
    background-color: transparent;
 */