@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.typing-text {
    font-family: 'Roboto', sans-serif;
    color: white !important;
    font-weight: 900;
    text-shadow: 0 3px 3px #000;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 70px;
    text-shadow: 0 3px 3px #000;
    color: white !important;
    position: relative;
    top: 150px;
    max-width: 100vw;
}